<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>3259841929-v0cnl62a9gfrea204v2hofnur4tgv2ms.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.3259841929-v0cnl62a9gfrea204v2hofnur4tgv2ms</string>
	<key>API_KEY</key>
	<string>AIzaSyAvjszTO1nFfdPdD03drVmRWo_YvTwsHBY</string>
	<key>GCM_SENDER_ID</key>
	<string>3259841929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.farsstudio.MDFactory</string>
	<key>PROJECT_ID</key>
	<string>mdfactory-1</string>
	<key>STORAGE_BUCKET</key>
	<string>mdfactory-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3259841929:ios:e6060df61cdf3472293558</string>
</dict>
</plist>